body {
  font-family: "Quicksand", sans-serif !important;
  overflow-y: scroll;
}

.logo {
  height: 40px;
}

.ant-btn-primary {
  background: #ff6d99 !important;
  border-color: #ff6d99 !important;
  border-radius: 10px !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover,
.ant-menu-submenu-title:hover,
.ant-menu-item:hover,
.ant-menu-item-selected {
  color: #ff6d99 !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fcebf0 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #ff6d99 !important;
  border-bottom: 2px solid #ff6d99 !important;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
  background-image: linear-gradient(0deg, #ff6d99 2px, rgba(0, 150, 136, 0) 0),
    linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0) !important;
}

.form-style {
  box-shadow: 4px 4px 75px rgba(0, 0, 0, 0.041);
  height: 500px;
  border-radius: 30px;
  overflow: hidden;

  .or-text {
    text-align: center;
    color: #9c9c9c;
  }

  .btn-google {
    background: #1877f2 !important;
    border-color: #1877f2 !important;
    border-radius: 10px !important;
  }
}

.username {
  font-weight: bold !important;
}

.form-update-password {
  margin-bottom: 0 !important;
  .form-group {
    margin-bottom: 0 !important;
  }
}

.ant-input, .ant-input:focus, .ant-input-affix-wrapper {
  border-radius: 10px !important;
}

.ant-input:focus, .ant-input-affix-wrapper:focus, .ant-input-affix-wrapper:focus-within {
  border-color: #ff9dba !important;
  box-shadow: 0 0 0 2px #ff9dba71 !important;
}


.ant-input:hover, .ant-input-affix-wrapper:hover {
  border-color: #ff9dba !important;
}

.ant-input-affix-wrapper > input.ant-input:focus {
  box-shadow: 0 0 0 2px #ff9dba00 !important;
}

.payment {
  height: 40px;
}